$primary-color: #272727;
$secondary-color: #ff652f;
$primary-Btn:rgb(0, 128, 0);
$name-color: white;
$page-font: 'Courgette', cursive;
$navbar-font: 'Castoro', serif;
$navbrand-font: 'Sansita Swashed', cursive;
$card-font: 'Prompt', sans-serif;


/* Resettings*/

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

@mixin transition-ease {
    transition: all 0.9s ease-in-out;
  }