@import 'config';
@import 'home';
@import 'contact';
@import 'about';
@import 'skills';
@import 'education';
@import 'project';


body{
    background: $primary-color;
    color: rgb(196, 14, 14);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;

}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: .5rem;


    .nav-link{
        font-size: 1rem;
        font-weight: bold;
        font-family: $navbar-font;

        &:hover{
                background-color: $secondary-color;
                padding: .5rem;
                @include transition-ease;
            }
        }
    }


.navigation {    
    .navbar-brand {
        margin-left: 40px;
        padding: inherit; 
        font-weight: bold; 
        font-family: $navbar-font;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.2rem;
        line-height: inherit;

        &:hover{
            background-color: $secondary-color;
            color: $name-color;
            @include transition-ease;
        }
    }
}

i {
    color:$secondary-color;
}

p {
    text-indent: 0px;
  }

main {
    height: 100vh;
    width: 100vw;
  
    .social-icons {
      position: fixed;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      padding: .5rem;
      writing-mode: vertical-lr;
      text-orientation: sideways-left;

    
      .fab {
        &:hover {
            color:$name-color;
            @include transition-ease;
          }
        }
      }
    }

footer {
        font-size: 1rem;
        position: fixed;
        bottom: 0.5rem;
        right: 1rem;
        text-align: right;
        padding: 1rem;
        color:$name-color;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
        transform: rotate(180deg);

          }